{% extends 'shop/basic.html' %}
{% block css %}
 .paddingTB60 {
    padding-top:60px;
    padding-bottom:60px;
}
.bgcolor-skyblue {
    background:#eaf0f9;
}

 .image-aboutus-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/556962/pexels-photo-556962.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
 }

  .image-aboutus-sm-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/631008/pexels-photo-631008.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 30px;
    padding-bottom:30px;
 }
.lg-text {
    font-size:52px;
    font-weight: 600;
    text-transform: none;
    color:#fff;
}
.image-aboutus-para {
    color:#fff;
}

/************************* */
.plan {
    background: #f9f9f9;
    padding: 50px 30px;
    margin-bottom: 30px;
}
.plan-header h4 {
    padding-bottom: 8px;
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
}
.plan-header {
    font-weight: 700;
}
.plan-header span {
        color: #fe4819;
        font-size: 40px;
}
.plan li {
    padding-bottom: 15px;
}
.plan ul {
    padding-left: 0;
    margin-bottom: 15px;
    list-style: none;
}
.plan-header p {
    padding-header: 12px;
    padding-bottom: 15px;
}

.col-md-3,.col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.bg-pink {
    background:#f0f0f0;
}
.bg-blue {
    background:#d6d6d6;
    color:#000;
}
 .padding35 {
    padding: 35px 0 35px;
}


/* Feature-CSS */

.icon {
    color : #fff;
    padding:15px;
    background:#323232 ;
    font-size:50px;
    border-radius:90px;
    border:10px solid #323232 ;

}
.feature-box {
    text-align: center;
    padding: 20px;
    transition: .5s;
    margin-bottom: 30px;
    border: 1px solid #e8e8e8;
}
.feature-box:hover {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature-box h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0 15px;
}

/* Site Heading */
.site-heading h3{
    font-size : 40px;
    margin-bottom: 10px;
    font-weight: 600;
}
.border {
    background: #e8e8e8 ;
    height: 1px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    float:left;
}

/* margin */
.paddingTB60 {
    padding-top:60px;
    padding-bottom:60px;
}


/* Carousel banner */

.carousel .item {
  height: 500px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;

}
.carousel-caption {
    margin-bottom:30px;
}
.carousel-caption h1 {
    margin-bottom:15px;
    font-size:42px;
    font-weight:700px;
}
.carousel-caption p {
    margin-bottom:20px;
    font-size:16px;
    font-weight:400px;
}

/* Footer */
.footer {
    position: relative;
    background-color: #fff;
    color: #707070;
    padding: 55px 0 40px;
}
.footer h5 {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #707070;
    position: relative;
    padding-bottom: 16px;
}
.footer h5:after {
    content: '';
    display: block;
    margin: 5px 0 0;
    width: 40%;
    height: 1px;
    background-color: #fff;
}
.footer ul {
    list-style: none;
    line-height: 2.2em;
    padding-left:0px;
}
.footer ul a {
    color:#707070;;
}
.footer ul a:hover {
    color:#274abb;;
    text-decoration:none;
}
/*footer bottom */
.footer-bottom {
    padding-top: 5px;
    padding-bottom: 15px;
    border-top: 1px solid rgba(0,0,0,0.09);
    background: #fff;

}
.copyright-text p {
    color: #707070;
    margin-top: 18px;
    margin-bottom: 0;
    font-size:12px;
}


.social-icons{

    margin: 0;
    padding: 0;
    font-size : 10px;
}

.social {
    margin:7px 7px 7px 0px;
    color:#b40028;
}


#social-fb:hover {
     color: #3B5998;
     transition:all .25s;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .25s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .25s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .25s;
 }


 .cta-padding35 {
    padding: 35px 0 35px;
    background-color: #b40028;
    color:#fff;
}
/* Buttons */
.site-btn {
    font-size: 14px;
    padding: 13px 30px;
    border-radius: 5px;
    border: 1px solid #b40028 ;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #b40028 ;
    background-color:transparent;
    transition: all .25s ease-in-out;
    margin: 10px 0px 10px 0px;

}
.site-btn:hover {
    background: #b40028 ;
    border: 1px solid #fff;
    font-weight:700px;


}



/* Navigation */
.navbar-default {
  background-color: #011034;
  border-color: #011034;
  padding: 10px 0px 10px 0;
  letter-spacing:1px;
  font-weight:800;
  text-transform: uppercase;
      webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    -ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    -o-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.navbar-default {
  background-color: #011034;
  border-color: #011034;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b40028;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b40028;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #011034;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #b40028;
  background-color: #011034;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #011034;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #b40028;
  background-color: #011034;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b40028;
  background-color: #011034;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #b40028;
  background-color: #011034;
}
.navbar-default .navbar-toggle {
  border-color: #011034;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #011034;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #b40028;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b40028;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b40028;
    background-color: #011034;
  }
}
{% endblock %}
{% block title %}About Us {% endblock %}
  {% block body %}
<div class="image-aboutus-banner"style="margin-top:70px">
   <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-text">О нас</h1>
         <p class="image-aboutus-para">Благодарим вас за проявленный интерес и добро пожаловать.</p>
       </div>
    </div>
</div>
</div>
<div class="container paddingTB60">
	<div class="row">


            <div class="col-lg-8">

                 <hr>

                <h2>Мы тут не шутки шутим. </h2>

                <hr>


                <img class="img-responsive" src="http://mobilebusinessinsights.com/wp-content/uploads/2016/03/IBM_MobileFirst_SXSWBlog_0321_v2.jpg" alt="">

                <hr>


                <p class="lead">Идет медведь по лесу - видит машина стоит, сел в нее и сгорел. </p>
                <p>Идет медведь по лесу - видит машина стоит, сел в нее и сгорел. </p>
                <p>Идет медведь по лесу - видит машина стоит, сел в нее и сгорел. </p>
                <p>Идет медведь по лесу - видит машина стоит, сел в нее и сгорел. </p>
                <p>Идет медведь по лесу - видит машина стоит, сел в нее и сгорел. </p>

                <hr>




            </div>


            <div class="col-md-4">


                <div class="well bgcolor-skyblue">
                    <h4>Поиск по блогу</h4>
                    <div class="input-group">
                        <input class="form-control" type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>

                </div>


                <div class="well">
                    <h4>Быстрый доступ</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Название категории</a>
                                </li>
                                <li><a href="#">Название категории</a>
                                </li>
                                <li><a href="#">Название категории</a>
                                </li>
                                <li><a href="#">Название категории</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Название категории</a>
                                </li>
                                <li><a href="#">Название категории</a>
                                </li>
                                <li><a href="#">Название категории</a>
                                </li>
                                <li><a href="#">Название категории</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>


                <div class="well bgcolor-skyblue">
                    <h4>Боковой виджет</h4>
                    <p>Благодарим за проявленный интерес.</p>
                </div>

            </div>

        </div>
</div>


<div class="cta-sektion cta-padding35">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <h3><span class="glyphicon glyphicon-cog "></span> <b>Прочая информация</b> </h3>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 Tpadding10">
                <button type="button" class="btn btn-primary site-btn">НАчать прямо сейчас</button>
            </div>
        </div>
    </div>
</div>
<div class="footer-section">
    <div class="footer">
	<div class="container">
		<div class="col-md-4 footer-one">
			<h5>О нас </h5>
		    <p>Короче... Мы есть, но как бы нет.</p>
		    	<div class="social-icons">
               <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
               <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
	        </div>
		</div>
		<div class="col-md-3 footer-two">
		    <h5>Информация </h5>
		    <ul>
									<li><a href="maintenance.html">Советы по техническому обслуживанию</a></li>
									<li><a href="contact.html">Места</a></li>
									<li><a href="about.html">Рекомендации</a></li>
									<li><a href="about.html">Карьера</a></li>
									<li><a href="about.html">Партнеры</a></li>
								</ul>
		</div>
		<div class="col-md-3 footer-three">
		    <h5>Полезные ссылки </h5>
		    <ul>
          <li><a href="maintenance.html">Советы по техническому обслуживанию</a></li>
          <li><a href="contact.html">Места</a></li>
          <li><a href="about.html">Рекомендации</a></li>
          <li><a href="about.html">Карьера</a></li>
          <li><a href="about.html">Партнеры</a></li>
								</ul>
		</div>
		<div class="col-md-2 footer-four">
		    <h5>Полезные ссылки </h5>
		    <ul>
                    <li><a href="maintenance.html">Советы по техническому обслуживанию</a></li>
                    <li><a href="contact.html">Места</a></li>
                    <li><a href="about.html">Рекомендации</a></li>
                    <li><a href="about.html">Карьера</a></li>
                    <li><a href="about.html">Партнеры</a></li>
								</ul>
		</div>

		<div class="clearfix"></div>
	</div>
</div>
    <div class="footer-bottom">
        <div class="container">
					<div class="row">
						<div class="col-sm-12 text-center ">
							<div class="copyright-text">
								<p> ТехЗеро (с) Типо чето сохранено</p>
							</div>
						</div>

					</div>
				</div>
    </div>
</div>



{% endblock %}
